.name {
	text-align: center;
	font-family: arial;
	color: red;
	font-size: 100pt;
	border: 20px outset green;
	margin-bottom: 20px;
}

.desc {
	text-align: center;
	font-family: arial;
	color: purple;
	font-size: 45pt;
	border: 10px dotted orange;
}

.image {
	text-align: center;
	position: relative;
	top: 75px;
}

.add {
	position: absolute;
	top: 550px;
	color: green;
}

.remove {
	position: absolute;
	left: 67%;
	top: 550px;
	color: red;
}

.form{
	position: absolute;
	bottom: -300px;
}

div.Back {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	text-align: center;
}
