span.title {
	text-align: center;
	width: 100%;
	font-size: 1000%;
	font-family: arial;
	display:inline-block;
	position:relative;
}

span.titleTrans {
	animation:Trans 1.5s;
	-webkit-animation:Trans 1.5s;
	text-align: center;
	width: 100%;
	font-size: 1000%;
	left:-400;
	opacity: 0;
	font-family: arial;
	display:inline-block;
	position:relative;
}

span.sub {
	text-align: center;
	width: 100%;
	font-size: 500%;
	font-family: arial;
	display:inline-block;
	position:relative;
}

span.subTrans {
	animation:Trans 1.5s;
	-webkit-animation:Trans 1.5s;
	text-align: center;
	width: 100%;
	left:-400;
	opacity: 0;
	font-size: 500%;
	font-family: arial;
	display:inline-block;
	position:relative;
}
@keyframes Trans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes Trans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.Rules {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: 300px;
	background-color: orange;
	color: black;
	font-family: arial;
	line-height: 50px;
	text-align: center;
}

div.RulesYes {
	animation:RY 1s;
	-webkit-animation:RY 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: 300px;
	line-height: 50px;
	background-color: orange;
	color: black;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

div.RulesNo {
	animation:RN 1s;
	-webkit-animation:RN 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: 300px;
	line-height: 50px;
	background-color: orange;
	color: black;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

@keyframes RY
{
0%   {opacity: 1; left:300px;}
100% {opacity: 0; left:700px;}
}

@-webkit-keyframes RY /* Safari and Chrome */
{
0%   {opacity: 1; left:300px;}
100% {opacity: 0; left:700px;}
}

@keyframes RN
{
0%   {opacity: 1; left:300px;}
100% {opacity: 0; left:-100px;}
}

@-webkit-keyframes RN /* Safari and Chrome */
{
0%   {opacity: 1; left:300px;}
100% {opacity: 0; left:-100px;}
}

div.Start {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:100px;
	line-height: 100px;
	top:-50px;
	background-color: green;
	color: white;
	font-family: arial;
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

div.StartYes {
	animation:SY 1s;
	-webkit-animation:SY 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:100px;
	top: -50px;
	line-height: 100px;
	left:400px;
	background-color: green;
	color: white;
	font-family: arial;
	opacity: 0;
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

div.StartNo {
	animation:SN 1s;
	-webkit-animation:SN 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:100px;
	top: -50px;
	line-height: 100px;
	left:400px;
	background-color: green;
	color: white;
	font-family: arial;
	opacity: 0;
	text-align: center;
	font-size: 175%;
	font-weight: bold;
}

@keyframes SY
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@-webkit-keyframes SY /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@keyframes SN
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes SN /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.PostGame {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: -300px;
	top: -50px;
	line-height: 50px;
	background-color: orange;
	font-family: arial;
	text-align: center;
}

div.PostGameYes {
	animation:PGY 1s;
	-webkit-animation:PGY 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: -300px;
	top: -50px;
	line-height: 50px;
	background-color: orange;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

div.PostGameNo {
	animation:PGN 1s;
	-webkit-animation:PGN 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:50px;
	left: -300px;
	top: -50px;
	line-height: 50px;
	background-color: orange;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

@keyframes PGY
{
0%   {opacity: 1; left:-300px;}
100% {opacity: 0; left:100px;}
}

@-webkit-keyframes PGY /* Safari and Chrome */
{
0%   {opacity: 1; left:-300px;}
100% {opacity: 0; left:100px;}
}

@keyframes PGN
{
0%   {opacity: 1; left:-300px;}
100% {opacity: 0; left:-700px;}
}

@-webkit-keyframes PGN /* Safari and Chrome */
{
0%   {opacity: 1; left:-300px;}
100% {opacity: 0; left:-700px;}
}

div.MutationList {
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	top:-50px;
	right: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	text-align: center;
}

div.MutationListYes {
	animation:MLY 1s;
	-webkit-animation:MLY 1s;
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	top:-50px;
	right: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	opacity: 0;
	text-align: center;
}

div.MutationListNo {
	animation:MLN 1s;
	-webkit-animation:MLN 1s;
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	top:-50px;
	right: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	opacity: 0;
	text-align: center;
}

@keyframes MLY
{
0%   {opacity: 1; right:225px;}
100% {opacity: 0; right:-175px;}
}

@-webkit-keyframes MLY /* Safari and Chrome */
{
0%   {opacity: 1; right:225px;}
100% {opacity: 0; right:-175px;}
}

@keyframes MLN
{
0%   {opacity: 1; right:225px;}
100% {opacity: 0; right:625px;}
}

@-webkit-keyframes MLN /* Safari and Chrome */
{
0%   {opacity: 1; right:225px;}
100% {opacity: 0; right:625px;}
}

div.EnviormentalChangeList {
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	bottom: 100px;
	left: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	text-align: center;
}

div.EnviormentalChangeListYes {
	animation:ECLY 1s;
	-webkit-animation:ECLY 1s;
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	bottom: 100px;
	left: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	opacity: 0;
	text-align: center;
}

div.EnviormentalChangeListNo {
	animation:ECLN 1s;
	-webkit-animation:ECLN 1s;
	position:relative;
	margin: 0 auto;
	width:150px;
	height:50px;
	bottom: 100px;
	left: 225px;
	line-height: 50px;
	background-color: purple;
	font-family: arial;
	color: white;
	opacity: 0;
	text-align: center;
}

@keyframes ECLY
{
0%   {opacity: 1; left:225px;}
100% {opacity: 0; left:625px;}
}

@-webkit-keyframes ECLY /* Safari and Chrome */
{
0%   {opacity: 1; left:225px;}
100% {opacity: 0; left:625px;}
}

@keyframes ECLN
{
0%   {opacity: 1; left:225px;}
100% {opacity: 0; left:-175px;}
}

@-webkit-keyframes ECLN /* Safari and Chrome */
{
0%   {opacity: 1; left:225px;}
100% {opacity: 0; left:-175px;}
}

div.GenerateEnviormentalChange {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	bottom: 100px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	text-align: center;
}

div.GenerateEnviormentalChangeYes {
	animation:GECY 1s;
	-webkit-animation:GECY 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	bottom: 100px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

div.GenerateEnviormentalChangeNo {
	animation:GECN 1s;
	-webkit-animation:GECN 1s;
	transition: right 2s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	bottom: 100px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

@keyframes GECY
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@-webkit-keyframes GECY /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@keyframes GECN
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes GECN /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}