span.mut {
	font-family: arial;
	color: black;
}

span.req {
	font-family: arial;
	color: blue;
}

span.rep {
	font-family: arial;
	color: orange;
}

span.block {
	font-family: arial;
	color: red;
}

div.Back {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	text-align: center;
}

div.BackTrans {
	animation:BackTrans 1s;
	-webkit-animation:BackTrans 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	left: 400px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

@keyframes BackTrans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@-webkit-keyframes BackTrans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

div.List {
	position:relative;
	margin: 0 auto;
	font-family: arial;
}

div.ListTrans {
	animation:ListTrans 1s;
	-webkit-animation:ListTrans 1s;
	position:relative;
	margin: 0 auto;
	font-family: arial;
	left:-400px;
	opacity: 0;
}

@keyframes ListTrans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes ListTrans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.Desc {
	position:inherit;
	color: #141;
	padding-left: 5em;
	font-family: "Times New Roman";
}


div.Add {
	position:relative;
	margin: 0 auto;
	font-family: arial;
}

div.AddTrans {
	animation:AddTrans 1s;
	-webkit-animation:AddTrans 1s;
	position:relative;
	margin: 0 auto;
	font-family: arial;
	left:-400px;
	opacity: 0;
}

@keyframes AddTrans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes AddTrans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.Remove {
	position:relative;
	margin: 0 auto;
	font-family: arial;
}

div.RemoveTrans {
	animation:RemoveTrans 1s;
	-webkit-animation:RemoveTrans 1s;
	position:relative;
	margin: 0 auto;
	font-family: arial;
	left:-400px;
	opacity: 0;
}

@keyframes RemoveTrans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}
RemoveTrans
@-webkit-keyframes ListTrans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}