div.Select {
	font-family: arial;
	font-weight: bold;
	font-size: 500%;
	text-align: center;
	display:inline-block;
	position:relative;
	width: 100%;
}

div.SelectTrans {
	animation:SelectTrans 1s;
	-webkit-animation:SelectTrans 1s;
	font-family: arial;
	font-weight: bold;
	font-size: 500%;
	text-align: center;
	display:inline-block;
	position:relative;
	width: 100%;
	opacity: 0;
}

@keyframes SelectTrans
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes SelectTrans /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.Next {
	height: 256px;
	width: 256px;
	background-image: url('Images/Next.png');
	background-position: center right;
	background-size: 256px 256px;
	background-repeat:none;
	display:inline-block;
	position:relative;
	width: 256px;
	float: right;
}

div.NextYes {
	animation:NextYes 1s;
	-webkit-animation:NextYes 1s;
	height: 256px;
	width: 256px;
	left:400px;
	background-image: url('Images/Next.png');
	background-position: center right;
	background-size: 256px 256px;
	background-repeat:none;
	display:inline-block;
	position:relative;
	width: 256px;
	float: right;
}

div.NextNo {
	animation:NextNo 1s;
	-webkit-animation:NextNo 1s;
	height: 256px;
	width: 256px;
	left:-400px;
	background-image: url('Images/Next.png');
	background-position: center right;
	background-size: 256px 256px;
	background-repeat:none;
	display:inline-block;
	position:relative;
	width: 256px;
	float: right;
}

@keyframes NextYes
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@-webkit-keyframes NextYes /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@keyframes NextNo
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes NextNo /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

div.Back {
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	top: 256px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	text-align: center;
}

div.BackYes {
	animation:BackYes 1s;
	-webkit-animation:BackYes 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	top: 256px;
	left: 400px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	opacity: 0;
	text-align: center;
}
div.BackNo {
	animation:BackNo 1s;
	-webkit-animation:BackNo 1s;
	position:relative;
	margin: 0 auto;
	width:300px;
	height:25px;
	top: 256px;
	left: -400px;
	line-height: 25px;
	background-color: red;
	font-family: arial;
	opacity: 0;
	text-align: center;
}

@keyframes BackYes
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@-webkit-keyframes BackYes /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:400px;}
}

@keyframes BackNo
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}

@-webkit-keyframes BackNo /* Safari and Chrome */
{
0%   {opacity: 1; left:0px;}
100% {opacity: 0; left:-400px;}
}